.root {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  background-color: aquamarine;
  border-color: darkcyan;
  color: black;
}

.root:hover {
  color: darkcyan;
}

.root[disabled] {
  color: rgba(0, 0, 0, 0.4);
  border-color: aquamarine;
  cursor: default;
}

.default {
  font-size: 16px;
  padding: 5px 16px;
  border-radius: 20px;
}

.big {
  font-size: 18px;
  padding: 6px 18px;
  border-radius: 22px;
}
