.root label {
  width: 80px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}

.root label.required::before {
  content: "*";
  color: darkcyan;
  margin-right: 4px;
}

.field {
  margin-bottom: 10px;
}

.controls {
  margin-top: 18px;
}

.control {
  margin-right: 6px;
}

.rating {
  display: inline-block;
}
