@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.root {
  background-color: rgba(0, 0, 0, 0.1);
  animation: pulse 2s ease-in-out 0.5s infinite;
  border-radius: 4px;
}

.circular {
  border-radius: 50%;
}
