.root h1 {
  margin-bottom: 14px;
}

.root h3 {
  margin-bottom: 10px;
}

.root li {
  margin-bottom: 12px;
}

.block {
  margin-bottom: 28px;
}

.skeletonName {
  margin-bottom: 19px;
}

.skeletonPrice {
  margin-bottom: 31px;
}
